.blogs div {
    width: 60%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(211, 211, 211, 0.589);
    padding: 20px;
    margin-bottom: 20px;
}

.blogs div p {
    text-align: justify;
}

.blogs {}