.display-container h1 {
    margin: 0;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}

.display-container p {
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
}

.display-container {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
}

.half-width {
    padding-left: 40px;
}

.display-container img {
    width: 80%;
}

@media screen and (max-width: 600px) {
    .display-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .half-width {
        padding: 10px;
    }

    .display-container h1 {
        font-size: 30px;
    }

    .display-container p {
        font-size: 14px;
    }

    .display-container img {
        width: 70%;
    }
}