nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

nav .a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border-bottom: 3px solid lightgray;
    border-radius: 1px;
}

nav .a:hover {
    color: rgb(12, 170, 233);
}